.img-container {
    padding: 10px;
}

.img-container .img-container__img {
    width: 240px;
    height: 150px;
}

@media only screen and (max-width: 767px) {
    .img-container {
        width: 100%;
        padding: 10px 0;
    }

    .img-container img {
        width: 100%;
        height: auto;
    }
}