
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1040px;
    margin: 0 auto;
}

.container_white-font {
    color: #ffffff;
}

.btn {
    color: #ffffff;
    padding: 15px;
    font-size: 1.0rem;
    border: 0;
}
